header {
  background-color: var(--ga-color-bg-primary);
  height: 62px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

header h1 {
  color: var(--ga-color-font-primary);
  font-size: 24px;
  font-weight: 500;
}
